# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
*.json
*.jsonl

# Data
!**/alpaca-data-conversation.json
*.png
*.jpg

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
ckpts*
*.pt

.ipynb_checkpoints
*.ipynb

# Github
!.github/*

# VScode
!.vscode/*

# Dev Container
!.devcontainer/*

# Environment Variables
.env*

# Demo Resources
!demo_resources/**/*

# Ignore No Hangup Process Output
nohup.out
